<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.css' %}">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4" style="margin-top: 70px">
            <form novalidate id="f1">
                {% csrf_token %}
                {% for field in form_obj %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        <span class="help-block"></span>
                    </div>
                {% endfor %}
                <div>
                    <button type="button" id="b1" class="btn btn-success">注册</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="{% static 'jQuery/jquery.js' %}"></script>
<script>
    $('#b1').click(function () {
        // 自定义一个对象用来存储表单的提交信息
        var dataObj = Object();
        $('input').each(function () {
            dataObj[$(this).attr('name')] = $(this).val();
        });
        console.log(dataObj);
        // 取到input标签的值
        $.ajax({
            url: '/register/',
            type: 'post',
            data: dataObj,
            success: function (res) {
                console.log(res);
                // 把所有的错误提示信息展示到页面的指定位置
                if (res.code === 0){
                    // 信息正确
                    location.href = res.url;
                }else {
                    $.each(res.error_msg, function (k, v) {
                        // 根据k找到对应的input框，把v中第一个字符串显示出来
                        $('#id_'+k).next('span').text(v[0]).parent().addClass('has-error');
                    })
                }
            }
        })
    });
    // input标签获取焦点之后清除之前的错误提示
    $('form input').focus(function () {
        $(this).next('span').text('').parent().removeClass('has-error');
    })
</script>
</body>
</html>